apiVersion: apps/v1
kind: Deployment 
metadata:  
  name: my-Deployment
  labels:
    app: myapp
specs:
  replicas: 3
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
         app: myapp
    spec:
      containers:
        - name: my-app
          image: nginx:latest
          ports:


